.modal__popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    
}
.modal__inner{
    width: 900px;
    height: auto;
    background-color: #e3e3e3;
    border-radius: 12px;
    text-align: center;
    padding: 25px 15px;
    pointer-events: none;
}
.active__modal{
    display: flex!important;
    opacity: 1;
    z-index: 10000;
}