body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;
}

.bb1{
  pointer-events: none;
}
.order-wrap-item{
  width: 13%;
}
.register{
  margin-right: 5px;
}
.birga-marga{
  margin-top: 2px!important;
}
.invest__item{
  display: flex;
}
.order__col__3{
  width: 400px!important;
  margin: 0 auto;
  text-align: center;
}
.order__col__3 .order-wrap-item{
  text-align: center;
}